## 들여쓰기

In [1]:
for i in range(10):
    print(i)
    print(i**2)
    print(i**3)

0
0
0
1
1
1
2
4
8
3
9
27
4
16
64
5
25
125
6
36
216
7
49
343
8
64
512
9
81
729

## 주석

In [2]:
# 0이상 3미만의 값의 범위에서
# 순회를 돌며, 해당 값과 제곱값을 출력합니다.

for i in range(3):
    print(i)
    print(i**2)  # i의 제곱값을 출력합니다.

0
0
1
1
2
4

In [3]:
'0이상 3미만의 값을 범위에서'

'0이상 3미만의 값을 범위에서'

In [4]:
'''
0이상 3미만의 값의 범위에서
순회를 돌며, 해당 값과 제곱값을 출력합니다.
'''

for i in range(3):
    print(i)
    print(i**2)  # i의 제곱값을 출력합니다.

0
0
1
1
2
4

In [12]:
def mysum(x, y):
    '''
    2개의 인자를 받아서, 더한 값을 리턴해주는 함수
    '''
    return x + y

In [13]:
mysum.__doc__

'\n    2개의 인자를 받아서, 더한 값을 리턴해주는 함수\n    '

In [14]:
mysum  # ipython notebook 에서만 지원해주는 기능

### 실습

In [15]:
mydict = {
    'a': 1,
    'b': 2,
#    'c': 3,
#    'd': 4,
}

In [16]:
mydict

{'a': 1, 'b': 2}

## 조건문

In [25]:
number = input("Enter number : ")

Enter number : 123

In [26]:
number

'123'

In [27]:
ord('3')

51

In [28]:
ord('1')

49

In [29]:
int('39') > 100

False

In [30]:
number = input("숫자를 입력해주세요. : ")

숫자를 입력해주세요. : 123

In [31]:
number

'123'

In [32]:
int(number)

123

In [34]:
number = int(input("숫자를 입력해주세요. : "))

숫자를 입력해주세요. : 123

In [35]:
number

123

In [36]:
number = int(input("숫자를 입력해주세요 : "))

if number >= 100:
    print("3자리 이상의 숫자")
elif number >= 10:
    print("2자리 숫자")
elif number >= 0:
    print("1자리 숫자")
else:
    print("음수")

숫자를 입력해주세요 : 123
3자리 이상의 숫자

In [38]:
# 홀/짝 여부

number = int(input("숫자를 입력해주세요 : "))

if number % 2 == 0:
    print("짝수")
else:
    print("홀수")

숫자를 입력해주세요 : 11
홀수

In [39]:
if "hello":
    print("True 판정")
else:
    print("False 판정")

True 판정

In [40]:
bool('hello')

True

In [41]:
bool(0)

False

In [42]:
bool(1)

True

In [43]:
bool('')

False

In [44]:
bool(' ')

True

In [45]:
bool([])

False

In [46]:
bool([''])

True

## for 반복문

```java
/* java */
for(int i=0; i<10; i++) {
    System.out.println(i);
}
```

```javascript
/* javascript */
for(var i=0; i<10; i++) {
    console.debug(i);
}
```

In [49]:
for i in [1, 2, 3, 4, 5]:
    print(i)
    print(i**2)

1
1
2
4
3
9
4
16
5
25

In [50]:
range(10)       # 0이상 10미만의 값 목록 (1씩 증가)
range(1, 10)    # 1이상 10미만의 값 목록 (1씩 증가)
range(1, 10, 2) # 1이상 10미만의 값 목록 (2씩 증가)

range(1, 10, 2)

In [51]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [52]:
for i in (1, 2, 3):  # tuple
    print(i)

1
2
3

In [53]:
for i in {1, 2, 3, 4, 5, 4, 3, 2, 1, 2, 3}:  # set (집합)
    print(i)

1
2
3
4
5

In [54]:
for key in {'a': 1, 'b': 2, 'c': 3}:  # 사전의 키 목록을 순회
    print(key)

a
b
c

In [55]:
for value in {'a': 1, 'b': 2, 'c': 3}.values():  # 사전의 값 목록을 순회
    print(value)

1
2
3

In [56]:
for key, value in {'a': 1, 'b': 2, 'c': 3}.items():  # 사전의 키/값 목록을 순회
    print(key, value)

a 1
b 2
c 3

## 아래 list/dict을 순회하며, 괄호가 보이지 않게, 잘 정리해서 출력해주세요.

In [58]:
'''
보내실 이메일 주소 : me@nomade.kr

이메일 제목 : [국민대학교 파이썬] 전공, 이름
'''

학교성적 = [
    {'이름': '철수', '성적': {'국어': 100, '수학': 90, '영어': 80}},
    {'이름': '영희', '성적': {'국어': 80, '수학': 95, '영어': 85}},
    {'이름': '스티브', '성적': {'국어': 70, '수학': 93, '영어': 82}},
]