## 숫자야구 풀이

In [6]:
import random

random_numbers = random.sample(range(1, 10), 3)

In [9]:
# input("Enter numbers : ").split()  # 입력 예) "3 4 5"

In [15]:
numbers = list(input("Enter numbers : "))   # 입력 예) "345"
numbers

Enter numbers : 345

['3', '4', '5']

### 숫자 비교

In [16]:
random_numbers

[7, 4, 8]

In [17]:
numbers

['3', '4', '5']

In [18]:
random_numbers[0]

7

In [19]:
numbers[0]

'3'

In [20]:
7 == '7'

False

In [21]:
7 == int('7')

True

### 구현

In [22]:
import random

random_numbers = random.sample(range(1, 10), 3)

for i in range(20):
    numbers = input("Enter numbers : ")  # 항상 3자리로 입력함으로 가정
    
    strike = 0
    random_remain = []
    number_remain = []
    for i in range(3):
        if random_numbers[i] == int(numbers[i]):
            strike += 1
        else:
            random_remain.append(random_numbers[i])
            number_remain.append(int(numbers[i]))
    
    ball = len(set(random_remain) & set(number_remain))  # 볼 카운트
    
    if strike == 3:
        print('Excellent !!!')
        break
    elif strike > 0 or ball > 0:
        print('Strike {}, Ball {}'.format(strike, ball))
    else:
        print('Out')

Enter numbers : 123
Strike 0, Ball 2
Enter numbers : 124
Strike 0, Ball 1
Enter numbers : 135
Strike 0, Ball 2
Enter numbers : 136
Strike 0, Ball 2
Enter numbers : 137
Strike 0, Ball 2
Enter numbers : 138
Strike 0, Ball 2
Enter numbers : 139
Strike 0, Ball 3
Enter numbers : 319
Strike 1, Ball 2
Enter numbers : 391
Excellent !!!

## 약간의 코드 개선

In [23]:
import random

random_numbers = random.sample('0123456789', 3)

for i in range(20):
    numbers = input("Enter numbers : ")  # 항상 3자리로 입력함으로 가정
    
    strike = 0
    random_remain = []
    number_remain = []
    
    for n1, n2 in zip(random_numbers, numbers):
        if n1 == n2:
            strike += 1
        else:
            random_remain.append(n1)
            number_remain.append(n2)
    
    ball = len(set(random_remain) & set(number_remain))  # 볼 카운트
    
    if strike == 3:
        print('Excellent !!!')
        break
    elif strike > 0 or ball > 0:
        print('Strike {}, Ball {}'.format(strike, ball))
    else:
        print('Out')

Enter numbers : 123
Strike 1, Ball 0
Enter numbers : 124
Strike 1, Ball 0
Enter numbers : 156
Out
Enter numbers : 245
Strike 0, Ball 1
Enter numbers : 256
Strike 0, Ball 1
Enter numbers : 278
Strike 0, Ball 2
Enter numbers : 279
Strike 0, Ball 2
Enter numbers : 270
Strike 0, Ball 3
Enter numbers : 027
Excellent !!!

## Quiz : 100이하 3과 5의 배수, 값들의 합 구하기

20이하, 3과 5의 배수의 목록

```
3, 6, 9, 12, 15, 18
5, 10, 15
```

In [24]:
# set(3의 배수 리스트) | set(5의 배수 리스트)

numbers = []

for i in range(101):
    if i % 3 == 0:
        numbers.append(i)
    elif i % 5 == 0:
        numbers.append(i)

mysum = 0
for i in numbers:
    mysum += i

mysum

2418

In [29]:
# range(시작값, 종료값, 증가값)  # 시작값 이상, 종료값 미만

sum(set(range(0, 101, 3)) | set(range(0, 101, 5)))

2418

## 1급 함수 (First Class Function)

In [31]:
def mysum(x, y):
    result = x + y  # mysum이 호출될 때, result 변수가 새롭게 생성
    return result

In [32]:
print(mysum(1, 2))
print(mysum(1, 2))
print(mysum(1, 2))

3
3
3

In [33]:
def mysum2(x, y):
    return x + y + 10

mysum2(1, 2)

13

In [34]:
# 익명 함수 (Anonumous Function)

(lambda x, y: x + y + 10)(1, 2)

13

In [36]:
other_fn2 = mysum2
other_fn2(1, 2)

13

In [41]:
other_mysum2 = lambda x, y: x + y + 10
other_mysum2(1, 2)

13

In [43]:
def myfn():
    i = 10
    fn = lambda x, y: x + y + 10
    return fn(1, 2)

myfn()

13

In [44]:
def myfn(a, b):
    fn = lambda x, y: x + y + 10
    return fn(a, b)

myfn(10, 20)

40

In [45]:
def mysum(x, y):
    return x + y

def myfn(fn, x, y):
    return fn(x, y) + 10

myfn(mysum, 1, 2)

13

In [49]:
numbers = ['1', '2', '3', '4', '5']  # 숫자 문자열의 리스트

'''
int_numbers = []
for number in numbers:
    int_numbers.append(int(number))
int_numbers
'''

list(map(int, numbers))

[1, 2, 3, 4, 5]

## 정렬

In [50]:
import random

numbers = random.sample(range(1, 101), 10)
numbers

[50, 22, 35, 9, 56, 13, 70, 19, 77, 99]

In [52]:
sorted(numbers)  # 각 값들에 대해 오름차순 정렬

[9, 13, 19, 22, 35, 50, 56, 70, 77, 99]

In [53]:
numbers  # 그대로 유지

[50, 22, 35, 9, 56, 13, 70, 19, 77, 99]

In [54]:
sorted(numbers, reverse=True)  # 각 값들에 대해 내림차순 정렬

[99, 77, 70, 56, 50, 35, 22, 19, 13, 9]

In [58]:
numbers = [11, 3, 6, 14]
print(sorted(numbers))

def sort_fn(value):
    return value % 10

# list, tuple, str, set, dict 등 모든 순회가능한 객체가 가능
print(sorted(numbers, key=sort_fn))

[3, 6, 11, 14]
[11, 3, 14, 6]

### 퀴즈

In [2]:
학생성적 = [
    {'이름': '철수', '성적': {'국어': 100, '수학': 90, '영어': 80}},
    {'이름': '영희', '성적': {'국어': 80, '수학': 95, '영어': 85}},
    {'이름': '스티브', '성적': {'국어': 70, '수학': 93, '영어': 82}},
    {'이름': '존', '성적': {'국어': 96, '수학': 100, '영어': 32}},
    {'이름': '스크루지', '성적': {'국어': 80, '수학': 50, '영어': 92}},
]

In [5]:
from pprint import pprint
# 1) 국어성적에 대한 내림차순 정렬

def sort_fn(학생):
    return 학생['성적']['국어']

pprint(sorted(학생성적, key=sort_fn, reverse=True))

[{'성적': {'국어': 100, '수학': 90, '영어': 80}, '이름': '철수'},
 {'성적': {'국어': 96, '수학': 100, '영어': 32}, '이름': '존'},
 {'성적': {'국어': 80, '수학': 95, '영어': 85}, '이름': '영희'},
 {'성적': {'국어': 80, '수학': 50, '영어': 92}, '이름': '스크루지'},
 {'성적': {'국어': 70, '수학': 93, '영어': 82}, '이름': '스티브'}]

In [14]:
# 2) 총점에 대한 내림차순 정렬

def sort_fn(학생):
    return sum(학생['성적'].values())  # dict 함수 : .items(), .keys(), .values()
    # return 학생['성적']['국어'] + 학생['성적']['영어'] + 학생['성적']['수학']

pprint(sorted(학생성적, key=sort_fn, reverse=True))

[{'성적': {'국어': 100, '수학': 90, '영어': 80}, '이름': '철수'},
 {'성적': {'국어': 80, '수학': 95, '영어': 85}, '이름': '영희'},
 {'성적': {'국어': 70, '수학': 93, '영어': 82}, '이름': '스티브'},
 {'성적': {'국어': 96, '수학': 100, '영어': 32}, '이름': '존'},
 {'성적': {'국어': 80, '수학': 50, '영어': 92}, '이름': '스크루지'}]

In [13]:
sum({'국어': 100, '수학': 90, '영어': 80}.values())

270

In [30]:
# 3) 총점에 대한 TOP3 이름/총점 출력 : 슬라이싱

def sort_fn(학생):
    return sum(학생['성적'].values())

학생성적_랭크 = sorted(학생성적, key=sort_fn, reverse=True)[:3]

# rank = 1
# for 학생 in 학생성적_랭크:
#     print(rank, 학생['이름'], sort_fn(학생))
#     rank += 1

for rank, 학생 in enumerate(학생성적_랭크, 1):
    print(rank, 학생['이름'], sort_fn(학생))

1 철수 270
2 영희 260
3 스티브 245

In [28]:
names = ['tom', 'steve', 'john']

for i, name in enumerate(names, 1001):
    print(i, name)

1001 tom
1002 steve
1003 john

## 퀴즈

로또 자동번호 추출하는 함수를 구현

+ 1이상 45이하의 수 중에 랜덤으로 7개를 뽑아냅니다. (정렬 X)
+ 처음 6 개 : 당첨번호
+ 마지막 1개 : 보너스 번호

주의사항

+ random 모듈에서는 `random.choice`만 사용
+ list와 조건문을 활용해서 구현

In [42]:
# 함수 리턴 예

[5, 7, 15, 10, 8, 40, 35]

[5, 7, 15, 10, 8, 40, 35]

In [51]:
import random

def get_lotto_numbers():
    numbers = []

    while True:
        number = random.choice(range(1, 46))
        if number not in numbers:
            numbers.append(number)
            if len(numbers) == 7:
                break

    return numbers

In [65]:
numbers = get_lotto_numbers()

당첨번호 = sorted(numbers[:6])
당첨번호_문자열 = ', '.join(map(str, 당첨번호))

print('당첨번호 : ', 당첨번호_문자열)
print('보너스 : ', numbers[-1])

당첨번호 :  6, 9, 16, 20, 40, 41
보너스 :  45

In [61]:
str(1)

'1'

In [63]:
', '.join(list(map(str, 당첨번호)))

'1, 28, 29, 31, 36, 44'

## 퀴즈 :

In [41]:
def print_triangle(size):
    for i in range(1, size+1):
        print('*' * i)

print_triangle(3)

*
**
***

In [37]:
'*' + '*' + '*'

'***'

In [38]:
'*' * 3

'***'

### 퀴즈 : 3을 입력했을 때, 아래와 같은 출력이 되도록 구현

```
  *
 **
***
```

In [70]:
def print_triangle_2(size):
    for i in range(1, size+1):
        print(' ' * (size-i), end='')
        print('*' * i)

print_triangle_2(5)

    *
   **
  ***
 ****
*****

## 클래스

In [79]:
철수 = {'이름': '철수', '성적': {'국어': 100, '수학': 90, '영어': 80}}

In [80]:
철수['이름']

'철수'

In [81]:
철수['성적']

{'국어': 100, '수학': 90, '영어': 80}

In [83]:
def 총점계산(학생):
    return 학생['성적']['국어'] + 학생['성적']['영어'] + 학생['성적']['수학']

In [84]:
총점계산(철수)

270

In [148]:
class Person:
    def __init__(self, 이름, 성적):
        self.이름 = 이름
        self.성적 = 성적
    
    def 총점계산(self):
        return self.성적['국어'] + self.성적['영어'] + self.성적['수학']
    
    def 평균계산(self):
        return self.총점계산() / len(self.성적)
    
    def __str__(self):
        return '{}의 성적 (총점 : {})'.format(self.이름, self.총점계산())
    
    def __repr__(self):
        return str(self)

In [149]:
철수 = Person('철수', {'국어': 100, '수학': 90, '영어': 80})

In [150]:
철수.이름

'철수'

In [151]:
철수.성적

{'국어': 100, '수학': 90, '영어': 80}

In [152]:
철수.총점계산()

270

In [153]:
철수.평균계산()

90.0

In [154]:
철수 = Person('철수', {'국어': 100, '수학': 90, '영어': 80})
영희 = Person('영희', {'국어': 80, '수학': 95, '영어': 85})
스티브 = Person('스티브', {'국어': 70, '수학': 93, '영어': 82})
존 = Person('존', {'국어': 96, '수학': 100, '영어': 32})
스크루지 = Person('스크루지', {'국어': 80, '수학': 50, '영어': 92})

In [155]:
영희.평균계산(), 스티브.평균계산()

(86.66666666666667, 81.66666666666667)

In [156]:
평균합 = 철수.평균계산() + 영희.평균계산() + 스티브.평균계산() + 존.평균계산() + 스크루지.평균계산()
평균합 / 5  # 전체 학생의 평균

81.66666666666667

## Person 타입의 변수 리스트 에서의 정렬

In [157]:
학생목록 = [
    Person('철수', {'국어': 100, '수학': 90, '영어': 80}),
    Person('영희', {'국어': 80, '수학': 95, '영어': 85}),
    Person('스티브', {'국어': 70, '수학': 93, '영어': 82}),
    Person('존', {'국어': 96, '수학': 100, '영어': 32}),
    Person('스크루지', {'국어': 80, '수학': 50, '영어': 92}),
]

In [158]:
def sort_fn(학생):
    return 학생.총점계산()

sorted(학생목록, key=sort_fn, reverse=True)

[철수의 성적 (총점 : 270),
 영희의 성적 (총점 : 260),
 스티브의 성적 (총점 : 245),
 존의 성적 (총점 : 228),
 스크루지의 성적 (총점 : 222)]