In [1]:
2 ** 100

1267650600228229401496703205376

In [2]:
from IPython.display import Image

image_url = "http://images.all-free-download.com/images/graphiclarge/butterfly_flower_01_hd_pictures_166973.jpg"
Image(url=image_url)

In [5]:
2 ** 4

16

In [4]:
3 ** 100

515377520732011331036461129765621272702107522001

# 국민대학교
## 파이썬 강의

+ 1일차
+ 2일차
+ 3일차

In [3]:
2 ** 10

1024


# 파이썬 문법 (1)

In [4]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [6]:
print(sum(range(101)))  # 1부터 100까지의 합

5050

In [7]:
print(sum(range(2, 101, 2)))  # 2부터 100까지의 짝수의 합

2550

In [9]:
print(sum(range(1, 101, 2)))  # 1부터 100까지의 홀수의 합

2500

In [10]:
print(sum(range(100000001)))

5000000050000000

In [1]:
message = 'Hello World"'

In [2]:
message: str = "Hello World"

In [3]:
age: str = 20

In [4]:
2 ** 100

1267650600228229401496703205376

In [7]:
val1 = 2 ** 1000

In [8]:
type(val1)

int

In [9]:
type(1.0)

float

In [12]:
"Tom"

'Tom'

In [13]:
'Tom'

'Tom'

In [14]:
"""Tom"""

'Tom'

In [17]:
'''Tom'''

'Tom'

In [18]:
"abc" + "def"

'abcdef'

In [21]:
가사 = ("편한 옷에 발엔 flip flop\n" +
"둥근 식탁 위에 식사\n" +
"이 판을 먹어치워 가볍게")

In [22]:
print(가사)

편한 옷에 발엔 flip flop
둥근 식탁 위에 식사
이 판을 먹어치워 가볍게

In [24]:
가사 = """편한 옷에 발엔 flip flop
둥근 식탁 위에 식사
이 판을 먹어치워 가볍게"""

In [25]:
print(가사)

편한 옷에 발엔 flip flop
둥근 식탁 위에 식사
이 판을 먹어치워 가볍게

In [26]:
10 > 3

True

In [27]:
100 == 10 ** 2

True

In [28]:
(100 == 10 ** 2) and (1 > 0)

True

In [29]:
(100 == 10 ** 2) and (1 < 0)

False

## 문자열 형식 지정자

In [30]:
name = "철수"
age = 10

"안녕. 나는 %s야. %d살이지." % (name, age)

'안녕. 나는 철수야. 10살이지.'

In [31]:
"안녕. 나는 {}야. {}살이지.".format(name, age)

'안녕. 나는 철수야. 10살이지.'

In [32]:
"안녕. 나는 {0}야. {1}살이지.".format(name, age)

'안녕. 나는 철수야. 10살이지.'

In [33]:
"안녕. 나는 {1}야. {0}살이지.".format(name, age)

'안녕. 나는 10야. 철수살이지.'

In [34]:
"안녕. 나는 {0}야. {0}살이지.".format(name, age)

'안녕. 나는 철수야. 철수살이지.'

In [35]:
"안녕. 나는 {이름}야. {나이}살이지.".format(이름=name, 나이=age)

'안녕. 나는 철수야. 10살이지.'

## 간단 퀴즈

이름/키워드에 기반한 인자를 모두 활용해서 5줄의 `편지내용` 변수를 완성해보세요.

사용해야할 변수목록

+ 보낸 이, 받는 이
+ 날짜

In [39]:
편지내용 = """
안녕. {받는이}.
나는 {보낸이}야.
{날짜}에 우리 보기로 약속했었지.
...
...
그때 보자. :D
""".format(보낸이='철수', 받는이='영희', 날짜='2017년 8월 5일')

print(편지내용)

안녕. 영희.
나는 철수야.
2017년 8월 5일에 우리 보기로 약속했었지.
...
...
그때 보자. :D

## 여러 자료구조

### list

In [40]:
names = ["tom", "steve", "john"]  # list타입 자료구조 변수 선언

In [41]:
"john" in names

True

In [42]:
"jo" in names

False

In [43]:
# names.contains("jo")   # java style

In [44]:
values = [1, 1.1, "tom", [1, 2, 3]]

In [45]:
names

['tom', 'steve', 'john']

In [46]:
names[0]

'tom'

In [47]:
numbers = list(range(1, 1001))

In [50]:
len(numbers)-1

999

In [51]:
numbers[999]

1000

In [52]:
numbers[len(numbers)-1]

1000

In [53]:
numbers[-1]

1000

In [54]:
# 항목추가
numbers.append(2000)
numbers.append(3000)
numbers.append(4000)

In [55]:
len(numbers)

1003

In [56]:
numbers[-1]

4000

### tuple

In [60]:
number_list = [1, 2, 3]  # list

In [61]:
numbers = (1, 2, 3) # tuple

In [62]:
numbers[-1]

3

In [63]:
numbers.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [64]:
numbers = (1, 2, 3, 4)

#### tuple test

In [70]:
type((1, 2, 3, 4))

tuple

In [66]:
type((1, 2, 3))

(1, 2, 3)

In [69]:
type((1, 2))

tuple

In [71]:
type((1))

int

In [72]:
type((1,))

tuple

In [73]:
1,

(1,)

In [77]:
for number in [1]:
    print(number)

1

In [82]:
numbers = [0, 1, 2, 3]

In [83]:
numbers[3] = 100

In [84]:
numbers

[0, 1, 2, 100]

In [85]:
numbers[4]

IndexError: list index out of range

### set

In [86]:
numbers = [1, 2, 1, 2, 1, 2, 3]

In [87]:
numbers

[1, 2, 1, 2, 1, 2, 3]

In [88]:
set_numbers = {1, 2, 1, 2, 1, 2, 3}

In [89]:
set_numbers

{1, 2, 3}

In [90]:
set_numbers = {10, 9, 8, 7, 8, 7, 6, 5, 6, 5, 4, 3, 2, 1, 1}

In [91]:
set_numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [93]:
for i in set_numbers:  # 정렬이 된 것처럼 보여질 뿐, 정렬이 집합의 Feature는 아니다.
    print(i)

1
2
3
4
5
6
7
8
9
10

In [94]:
# 특정 리스트에서 중복을 배제한 새로운 리스트를 만들고 싶습니다.

numbers = [1, 2, 1, 2, 1, 3, 1, 2, 1, 2, 3, 4, 1]

In [96]:
result = []
for i in numbers:
    if i not in result:
        result.append(i)

In [97]:
result

[1, 2, 3, 4]

In [99]:
list(set(numbers))

[1, 2, 3, 4]

## dict

In [106]:
탐의성적 = {
    '국어': 100,
    '수학': 50,
    '영어': 70,
    '역사': 50,
    '영어': 100,
}

In [107]:
탐의성적

{'국어': 100, '수학': 50, '역사': 50, '영어': 100}

In [108]:
탐의성적['국어']

100

In [109]:
탐의성적['국어'] = 90

In [110]:
탐의성적

{'국어': 90, '수학': 50, '역사': 50, '영어': 100}

In [111]:
탐의성적['과학'] = 95

In [112]:
len(탐의성적)

5

In [114]:
del 탐의성적['역사']

In [115]:
탐의성적

{'과학': 95, '국어': 90, '수학': 50, '영어': 100}

In [116]:
탐의성적['세계사']

KeyError: '세계사'

### 슬라이싱

In [128]:
numbers = list(range(2, 20, 2))  # 2이상 20미만의 짝수의 리스트

In [129]:
numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [123]:
numbers[1:]  # 1번 인덱스부터 끝까지

[4, 6, 8, 10, 12, 14, 16, 18]

In [125]:
numbers[1:7]

[4, 6, 8, 10, 12, 14]

In [126]:
numbers[1:7:2]

[4, 8, 12]

In [127]:
numbers[1:-1]

[4, 6, 8, 10, 12, 14, 16]

In [130]:
numbers[::]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [131]:
numbers[::-1]

[18, 16, 14, 12, 10, 8, 6, 4, 2]