## 들여쓰기

In [1]:
for i in range(10):
    print(i)
    print(i**2)
    print(i**3)

0
0
0
1
1
1
2
4
8
3
9
27
4
16
64
5
25
125
6
36
216
7
49
343
8
64
512
9
81
729

## 주석

In [2]:
# 0이상 3미만의 값의 범위에서
# 순회를 돌며, 해당 값과 제곱값을 출력합니다.

for i in range(3):
    print(i)
    print(i**2)  # i의 제곱값을 출력합니다.

0
0
1
1
2
4

In [3]:
'0이상 3미만의 값을 범위에서'

'0이상 3미만의 값을 범위에서'

In [4]:
'''
0이상 3미만의 값의 범위에서
순회를 돌며, 해당 값과 제곱값을 출력합니다.
'''

for i in range(3):
    print(i)
    print(i**2)  # i의 제곱값을 출력합니다.

0
0
1
1
2
4

In [12]:
def mysum(x, y):
    '''
    2개의 인자를 받아서, 더한 값을 리턴해주는 함수
    '''
    return x + y

In [13]:
mysum.__doc__

'\n    2개의 인자를 받아서, 더한 값을 리턴해주는 함수\n    '

In [14]:
mysum  # ipython notebook 에서만 지원해주는 기능

### 실습

In [15]:
mydict = {
    'a': 1,
    'b': 2,
#    'c': 3,
#    'd': 4,
}

In [16]:
mydict

{'a': 1, 'b': 2}

## 조건문

In [25]:
number = input("Enter number : ")

Enter number : 123

In [26]:
number

'123'

In [27]:
ord('3')

51

In [28]:
ord('1')

49

In [29]:
int('39') > 100

False

In [30]:
number = input("숫자를 입력해주세요. : ")

숫자를 입력해주세요. : 123

In [31]:
number

'123'

In [32]:
int(number)

123

In [34]:
number = int(input("숫자를 입력해주세요. : "))

숫자를 입력해주세요. : 123

In [35]:
number

123

In [36]:
number = int(input("숫자를 입력해주세요 : "))

if number >= 100:
    print("3자리 이상의 숫자")
elif number >= 10:
    print("2자리 숫자")
elif number >= 0:
    print("1자리 숫자")
else:
    print("음수")

숫자를 입력해주세요 : 123
3자리 이상의 숫자

In [38]:
# 홀/짝 여부

number = int(input("숫자를 입력해주세요 : "))

if number % 2 == 0:
    print("짝수")
else:
    print("홀수")

숫자를 입력해주세요 : 11
홀수

In [39]:
if "hello":
    print("True 판정")
else:
    print("False 판정")

True 판정

In [40]:
bool('hello')

True

In [41]:
bool(0)

False

In [42]:
bool(1)

True

In [43]:
bool('')

False

In [44]:
bool(' ')

True

In [45]:
bool([])

False

In [46]:
bool([''])

True

## for 반복문

```java
/* java */
for(int i=0; i<10; i++) {
    System.out.println(i);
}
```

```javascript
/* javascript */
for(var i=0; i<10; i++) {
    console.debug(i);
}
```

In [49]:
for i in [1, 2, 3, 4, 5]:
    print(i)
    print(i**2)

1
1
2
4
3
9
4
16
5
25

In [50]:
range(10)       # 0이상 10미만의 값 목록 (1씩 증가)
range(1, 10)    # 1이상 10미만의 값 목록 (1씩 증가)
range(1, 10, 2) # 1이상 10미만의 값 목록 (2씩 증가)

range(1, 10, 2)

In [51]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [52]:
for i in (1, 2, 3):  # tuple
    print(i)

1
2
3

In [53]:
for i in {1, 2, 3, 4, 5, 4, 3, 2, 1, 2, 3}:  # set (집합)
    print(i)

1
2
3
4
5

In [54]:
for key in {'a': 1, 'b': 2, 'c': 3}:  # 사전의 키 목록을 순회
    print(key)

a
b
c

In [55]:
for value in {'a': 1, 'b': 2, 'c': 3}.values():  # 사전의 값 목록을 순회
    print(value)

1
2
3

In [56]:
for key, value in {'a': 1, 'b': 2, 'c': 3}.items():  # 사전의 키/값 목록을 순회
    print(key, value)

a 1
b 2
c 3

## 퀴즈) 아래 list/dict을 순회하며, 괄호가 보이지 않게, 잘 정리해서 출력해주세요.

In [58]:
'''
보내실 이메일 주소 : me@nomade.kr

이메일 제목 : [국민대학교 파이썬] 전공, 이름
'''

학교성적 = [
    {'이름': '철수', '성적': {'국어': 100, '수학': 90, '영어': 80}},
    {'이름': '영희', '성적': {'국어': 80, '수학': 95, '영어': 85}},
    {'이름': '스티브', '성적': {'국어': 70, '수학': 93, '영어': 82}},
]

```
철수 : 국어 100, 수학 90, 영어 80
영희 : 국어 80, 수학 95, 영어 85
스티브 : 국어 70, 수학 93, 영어 82
```

In [67]:
for 학생 in 학교성적:
    print('{}: 국어 {}, 수학 {}, 영어 {}'.format(학생['이름'],
                    학생['성적']['국어'], 학생['성적']['수학'],
                    학생['성적']['영어']))

철수: 국어 100, 수학 90, 영어 80
영희: 국어 80, 수학 95, 영어 85
스티브: 국어 70, 수학 93, 영어 82

In [70]:
for 학생 in 학교성적:
    row = [학생['이름'], 학생['성적']['국어'],
           학생['성적']['수학'], 학생['성적']['영어']]
    print('{}: 국어 {}, 수학 {}, 영어 {}'.format(row[0], row[1], row[2], row[3]))

철수: 국어 100, 수학 90, 영어 80
영희: 국어 80, 수학 95, 영어 85
스티브: 국어 70, 수학 93, 영어 82

In [72]:
for 학생 in 학교성적:
    row = [학생['이름'], 학생['성적']['국어'],
           학생['성적']['수학'], 학생['성적']['영어']]
    print('{}: 국어 {}, 수학 {}, 영어 {}'.format(*row))  # list/tuple unpacking

철수: 국어 100, 수학 90, 영어 80
영희: 국어 80, 수학 95, 영어 85
스티브: 국어 70, 수학 93, 영어 82

In [73]:
for 학생 in 학교성적:
    print('{}: 국어 {국어}, 수학 {수학}, 영어 {영어}'.format(학생['이름'], **학생['성적']))  # dict unpacking

철수: 국어 100, 수학 90, 영어 80
영희: 국어 80, 수학 95, 영어 85
스티브: 국어 70, 수학 93, 영어 82

## 퀴즈

In [83]:
import random

numbers = []

for i in range(100):
    value = random.randint(1, 10)  # 1이상 10이하의 랜덤수
    numbers.append(value)

# numbers

In [89]:
# numbers 리스트에서 짝수의 갯수를 세어보세요.
count = 0

for number in numbers:
    if number % 2 == 0:
        # count = count + 1
        count += 1

print(count)

44

## in 멤버쉽

In [91]:
'tom' in ['tom', 'steve', 'john']

True

In [92]:
'Tom' in ['tom', 'steve', 'john']

False

In [93]:
'Tom' in ('tom', 'steve', 'john')

False

In [94]:
'Tom' in {'tom', 'steve', 'john'}

False

In [95]:
# key값에 대한 멤버쉽 테스트
'국어' in {'국어': 60, '수학': 80, '영어': 100}

True

In [96]:
'과학' in {'국어': 60, '수학': 80, '영어': 100}

False

In [97]:
60 in {'국어': 60, '수학': 80, '영어': 100}

False

## 퀴즈

In [87]:
가사 = '''
너와 나의 입술이 점점 
느껴지는 이 순간 속에 뜨거운 공기 
온몸에 전율이 와 
이제 너와 내가 써 내릴 Story 
I don't know why 
나도 모르게 
더 빠져들어가 
숨 막히게 Baby 
I don't know why 
지금 이 순간 
멈출 수 없는 기분 No No No No 
Make me feel so high 
'''

In [88]:
가사.split()

['너와',
 '나의',
 '입술이',
 '점점',
 '느껴지는',
 '이',
 '순간',
 '속에',
 '뜨거운',
 '공기',
 '온몸에',
 '전율이',
 '와',
 '이제',
 '너와',
 '내가',
 '써',
 '내릴',
 'Story',
 'I',
 "don't",
 'know',
 'why',
 '나도',
 '모르게',
 '더',
 '빠져들어가',
 '숨',
 '막히게',
 'Baby',
 'I',
 "don't",
 'know',
 'why',
 '지금',
 '이',
 '순간',
 '멈출',
 '수',
 '없는',
 '기분',
 'No',
 'No',
 'No',
 'No',
 'Make',
 'me',
 'feel',
 'so',
 'high']

In [ ]:
d = {}
d['이름'] = '철수'  #  {'이름': '철수'}
d['나이'] = 10     #  {'이름': '철수', '나이': 10}
d['이름'] = '영희'  #  {'이름': '영희', '나이': 10}

names = []
names.append(1)
names.append(2)  # [1, 2]

In [105]:
# 각 단어의 노출횟수를 counter 사전에 저장해보세요.

# Hint : 사전에 대한 "in 멤버쉽" 테스트

counter = {} # Key: 단어, Value: 횟수

for 단어 in 가사.split():
    if 단어 in counter:
#         counter[단어] = counter[단어] + 1
        counter[단어] += 1
    else:
        counter[단어] = 1

#     print(단어)

counter

{'Baby': 1,
 'I': 2,
 'Make': 1,
 'No': 4,
 'Story': 1,
 "don't": 2,
 'feel': 1,
 'high': 1,
 'know': 2,
 'me': 1,
 'so': 1,
 'why': 2,
 '공기': 1,
 '기분': 1,
 '나도': 1,
 '나의': 1,
 '내가': 1,
 '내릴': 1,
 '너와': 2,
 '느껴지는': 1,
 '더': 1,
 '뜨거운': 1,
 '막히게': 1,
 '멈출': 1,
 '모르게': 1,
 '빠져들어가': 1,
 '속에': 1,
 '수': 1,
 '순간': 2,
 '숨': 1,
 '써': 1,
 '없는': 1,
 '온몸에': 1,
 '와': 1,
 '이': 2,
 '이제': 1,
 '입술이': 1,
 '전율이': 1,
 '점점': 1,
 '지금': 1}

In [106]:
from collections import Counter

In [107]:
Counter(가사.split())

Counter({'Baby': 1,
         'I': 2,
         'Make': 1,
         'No': 4,
         'Story': 1,
         "don't": 2,
         'feel': 1,
         'high': 1,
         'know': 2,
         'me': 1,
         'so': 1,
         'why': 2,
         '공기': 1,
         '기분': 1,
         '나도': 1,
         '나의': 1,
         '내가': 1,
         '내릴': 1,
         '너와': 2,
         '느껴지는': 1,
         '더': 1,
         '뜨거운': 1,
         '막히게': 1,
         '멈출': 1,
         '모르게': 1,
         '빠져들어가': 1,
         '속에': 1,
         '수': 1,
         '순간': 2,
         '숨': 1,
         '써': 1,
         '없는': 1,
         '온몸에': 1,
         '와': 1,
         '이': 2,
         '이제': 1,
         '입술이': 1,
         '전율이': 1,
         '점점': 1,
         '지금': 1})

### 구구단

In [115]:
number = 19

for i in range(1, 10):
    print('{} * {} = {}'.format(number, i, number*i))
    if i > 5:
        break

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114

In [118]:
for number in range(2, 10):
    print('### {}단 ###'.format(number))
    for i in range(1, 10):
        print('{} * {} = {}'.format(number, i, number*i))
    print()

### 2단 ###
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

### 3단 ###
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

### 4단 ###
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

### 5단 ###
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

### 6단 ###
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

### 7단 ###
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

### 8단 ###
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

### 9단 ###
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [119]:
for number in range(2, 10):
    print('### {}단 ###'.format(number))
    for i in range(1, 10):
        print('{} * {} = {}'.format(number, i, number*i))
        if i > 5:
            break
    print()

### 2단 ###
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12

### 3단 ###
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18

### 4단 ###
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24

### 5단 ###
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30

### 6단 ###
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36

### 7단 ###
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

### 8단 ###
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48

### 9단 ###
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54

## 함수

In [122]:
number = 2

for i in range(1, 10):
    print('- {} * {} = {}'.format(number, i, number*i))


number = 3

for i in range(1, 10):
    print('- {} * {} = {}'.format(number, i, number*i))


number = 4

for i in range(1, 10):
    print('- {} * {} = {}'.format(number, i, number*i))


number = 5

for i in range(1, 10):
    print('- {} * {} = {}'.format(number, i, number*i))

- 2 * 1 = 2
- 2 * 2 = 4
- 2 * 3 = 6
- 2 * 4 = 8
- 2 * 5 = 10
- 2 * 6 = 12
- 2 * 7 = 14
- 2 * 8 = 16
- 2 * 9 = 18
- 3 * 1 = 3
- 3 * 2 = 6
- 3 * 3 = 9
- 3 * 4 = 12
- 3 * 5 = 15
- 3 * 6 = 18
- 3 * 7 = 21
- 3 * 8 = 24
- 3 * 9 = 27
- 4 * 1 = 4
- 4 * 2 = 8
- 4 * 3 = 12
- 4 * 4 = 16
- 4 * 5 = 20
- 4 * 6 = 24
- 4 * 7 = 28
- 4 * 8 = 32
- 4 * 9 = 36
- 5 * 1 = 5
- 5 * 2 = 10
- 5 * 3 = 15
- 5 * 4 = 20
- 5 * 5 = 25
- 5 * 6 = 30
- 5 * 7 = 35
- 5 * 8 = 40
- 5 * 9 = 45

In [132]:
# 함수의 적용

def print_gugudan(number):
    for i in range(1, 10):
        print('> {} * {} = {}'.format(number, i, number*i))

In [133]:
print_gugudan(2)  # 함수를 호출
print_gugudan(3)
print_gugudan(4)
print_gugudan(5)

> 2 * 1 = 2
> 2 * 2 = 4
> 2 * 3 = 6
> 2 * 4 = 8
> 2 * 5 = 10
> 2 * 6 = 12
> 2 * 7 = 14
> 2 * 8 = 16
> 2 * 9 = 18
> 3 * 1 = 3
> 3 * 2 = 6
> 3 * 3 = 9
> 3 * 4 = 12
> 3 * 5 = 15
> 3 * 6 = 18
> 3 * 7 = 21
> 3 * 8 = 24
> 3 * 9 = 27
> 4 * 1 = 4
> 4 * 2 = 8
> 4 * 3 = 12
> 4 * 4 = 16
> 4 * 5 = 20
> 4 * 6 = 24
> 4 * 7 = 28
> 4 * 8 = 32
> 4 * 9 = 36
> 5 * 1 = 5
> 5 * 2 = 10
> 5 * 3 = 15
> 5 * 4 = 20
> 5 * 5 = 25
> 5 * 6 = 30
> 5 * 7 = 35
> 5 * 8 = 40
> 5 * 9 = 45

In [134]:
def mysum(x, y):
    return x + y

In [136]:
number = mysum(1, 2)  # 리턴값을 number 변수에 대입

In [137]:
def mysum3(x, y, z):
    return x + y + z

In [142]:
print(mysum3(1, 2, 3))  # Positional Arguments
print(mysum3(4, 5, 6))
print(mysum3(7, 8, 9))

6
15
24

In [144]:
mysum3(x=1, y=2, z=3)

6

In [147]:
mysum3(z=3, y=2, x=1)  # Keyword Arguments

6

### 디폴트 인자

In [156]:
def mysum4(a, b, c, d=0):  # d=0 => 디폴트 인자
    return a ** b + c - d

In [157]:
mysum4(2, 3, 3, 4)

7

In [158]:
mysum4(2, 3, 3)

11

## 퀴즈

문자열을 입력받아, 그 문자열내 포함된 단어의 횟수를 카운팅한 사전을 리턴하는 함수를 작성하세요.

In [165]:
def word_count(content):
    counter_dict = {}
    for word in content.split():
        if word not in counter_dict:
            counter_dict[word] = 1
        else:
            counter_dict[word] += 1
    return counter_dict

In [166]:
word_count('''
    아이폰 아이폰 안드로이드 아이폰6
''')

# 출력결과 : {'아이폰': 2, '안드로이드': 1, '아이폰6': 1}

{'아이폰': 2, '아이폰6': 1, '안드로이드': 1}